.header,
.footer,
.website-info {
    background-color: #1F2937;
}

.main-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.left-links,
.description {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

